html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(75, 176, 235, 0.589);
    color: black;
  }
.game{
  text-align: center;
}
.heading{
  text-align: center;
}
.heading h1{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}