html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
  }
html{
  background-color:lightblue;
}
.game{
  text-align: center;
}
.heading{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
